body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.react-flow__node {
  cursor: grab;
}

.react-flow__node:active {
  cursor: grabbing;
}

.react-flow__handle {
  width: 8px;
  height: 8px;
  background: #555;
  border: 2px solid #fff;
}

.react-flow__handle:hover {
  background: #333;
}

.react-flow__edge-path {
  stroke: #555;
  stroke-width: 2;
}

.react-flow__edge-path:hover {
  stroke: #333;
  stroke-width: 3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
